.page {
  display: flex;
  flex-direction: column;
  width: 1280px;
  background-color: #2a2c2f;
  margin: auto;
}
@media screen and (max-width: 1280px) and (min-width: 768px) {
  .page {
    width: 768px;
  }
}
@media screen and (max-width: 768px) and (min-width: 320px) {
  .page {
    width: 320px;
  }
}
